sources/common/common-private/src/main/resources/seda-vitam/seda-vitam-management.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="fr:gouv:culture:archivesdefrance:seda:v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns="fr:gouv:culture:archivesdefrance:seda:v2"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">
    <xsd:include schemaLocation="seda-vitam-types.xsd"/>
    
    <!--
                *****************************
                ***   Code List
                *****************************
 
        -->
    <xsd:group name="ManagementCodeListsGroup">
        <xsd:annotation>
            <xsd:documentation>Listes de codes nécessaires dans les métadonnées de gestion.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="StorageRuleCodeListGroup" minOccurs="0"/>
            <xsd:group ref="AppraisalRuleCodeListGroup" minOccurs="0"/>
            <xsd:group ref="AccessRuleCodeListGroup" minOccurs="0"/>
            <xsd:group ref="DisseminationRuleCodeListGroup" minOccurs="0"/>
            <xsd:group ref="ReuseRuleCodeListGroup" minOccurs="0"/>
            <xsd:group ref="ClassificationRuleCodeListGroup" minOccurs="0"/>
            <xsd:group ref="HoldRuleCodeListGroup" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>

    <!-- Management Lists and Codes -->
    <xsd:complexType name="RuleIdType">
        <xsd:annotation>
            <xsd:documentation>Identifiant de la règle de gestion.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NonEmptyTokenType">
                <xsd:attribute name="id" type="xsd:ID" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:group name="AccessRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="AccessRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de communicabilité.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="DisseminationRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="DisseminationRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de diffusion.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="ReuseRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="ReuseRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de réutilisation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="ClassificationRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="ClassificationRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="AppraisalRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="AppraisalRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de durée d'utilité administrative.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="StorageRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="StorageRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de durée d'utilité courante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="HoldRuleCodeListGroup">
        <xsd:sequence>
            <xsd:element name="HoldRuleCodeListVersion" type="CodeType">
                <xsd:annotation>
                    <xsd:documentation>Version des listes de codes pour les règles de gel.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <!-- Management content -->
    <xsd:group name="ManagementGroup">
        <xsd:annotation>
            <xsd:documentation>Contient les métadonnées de gestion.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="StorageRule" type="StorageRuleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la durée d’utilité courante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AppraisalRule" type="AppraisalRuleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la durée d’utilité administrative.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AccessRule" type="AccessRuleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la communicabilité.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DisseminationRule" type="DisseminationRuleType"
                minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la diffusion.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReuseRule" type="ReuseRuleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la réutilisation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ClassificationRule" type="ClassificationRuleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LogBook" type="LogBookType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion des traces.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NeedAuthorization" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indique si une autorisation humaine est nécessaire pour vérifier ou valider les opérations de gestion des ArchiveUnit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- Extension VITAM pour la gestion des règles de gel des ArchiveUnits -->
            <xsd:element name="HoldRule" type="HoldRuleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion de la durée de gel des ArchiveUnits.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- Extension VITAM pour la gestion des rattachements d'AUs via le Manifest  -->
            <xsd:element name="UpdateOperation" type="UpdateOperationType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Gestion des opérations sur un ArchiveUnit.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <!-- Redefined by VITAM -->
                <!--xsd:element ref="OtherManagementAbstract" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Autres métadonnées de gestion.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element-->
                <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:group>
        <xsd:complexType name="LogBookType">
            <xsd:sequence>
                <xsd:element name="Event" type="EventType" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Global inheritance control -->
    <xsd:group name="PreventInheritanceGroup">
        <xsd:choice>
            <xsd:element name="PreventInheritance" type="xsd:boolean" default="false" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indique si les règles de gestion héritées des ArchiveUnit parents doivent être ignorées pour l’ArchiveUnit concerné.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    
    <xsd:complexType name="AccessRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la communicabilité.</xsd:documentation>
            <xsd:documentation>Chaque règle a une startDate et un Identifiant de règle de référence pour la durée.
                Si aucune règle n'est spécifiée et que la date actuelle est dans la StarDate, la réponse de restriction est "Aucune restriction".
                Si la date est vide, la réponse de restriction est "Restreint" car il n'y a aucun moyen de calculer la date de fin.
                Si une règle et une date sont précisées, alors la date de fin d'application de la règle peut être calculée et comparée avec la date courante..</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Rule" type="RuleIdType">
                    <xsd:annotation>
                        <xsd:documentation>Référence à la règle de communicabilité.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Date de départ de calcul de la règle de communicabilité.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Identifiant de la règle à désactiver à partir de cette ArchiveUnit.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="DisseminationRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la diffusion.</xsd:documentation>
            <xsd:documentation>Chaque règle a une startDate et un Identifiant de règle de référence pour la durée.
                Si aucune règle n'est spécifiée et que la date actuelle est dans la StarDate, la réponse de restriction est "Aucune restriction".
                Si la date est vide, la réponse de restriction est "Restreint" car il n'y a aucun moyen de calculer la date de fin.
                Si une règle et une date sont précisées, alors la règle est valable (restriction appliquée).</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Rule" type="RuleIdType">
                    <xsd:annotation>
                        <xsd:documentation>Référence à la règle de diffusion.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Date de départ de calcul de la règle de diffusion.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>L'identifiant de la règle spécifiée pourra être retirée de l'héritage dans ce noeud.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ReuseRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la réutilisation.</xsd:documentation>
            <xsd:documentation>Chaque règle a une startDate et un Identifiant de règle de référence pour la durée.
                Si aucune règle n'est spécifiée et que la date actuelle est dans la StarDate, la réponse de restriction est "Aucune restriction".
                Si la date est vide, la réponse de restriction est "Restreint" car il n'y a aucun moyen de calculer la date de fin.
                Si une règle et une date sont précisées, alors la règle est valable (restriction appliquée).</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Rule" type="RuleIdType">
                    <xsd:annotation>
                        <xsd:documentation>Référence à la règle de réutilisation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Date de départ de calcul de la règle de réutilisation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>L'identifiant de la règle spécifiée pourra être retirée de l'héritage dans ce noeud.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ClassificationRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la classification.</xsd:documentation>
            <xsd:documentation>Chaque règle a une startDate et un Identifiant de règle de référence pour la durée.
                Si aucune règle n'est spécifiée et que la date actuelle est dans la StarDate, la réponse de restriction est "Aucune restriction".
                Si la date est vide, la réponse de restriction est "Restreint" car il n'y a aucun moyen de calculer la date de fin.
                Si une règle et une date sont précisées, alors la règle est valable (restriction appliquée).</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Rule" type="RuleIdType">
                    <xsd:annotation>
                        <xsd:documentation>Référence à la règle de classification.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Date de départ de calcul de la règle de classification.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:element name="ClassificationAudience" type="NonEmptyTokenType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Permet de gérer les questions de "diffusion restreinte", de "spécial France" et de "Confidentiel Industrie".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>L'identifiant de la règle spécifiée pourra être retirée de l'héritage dans ce noeud.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="ClassificationLevel" type="NonEmptyTokenType">
                <xsd:annotation>
                    <xsd:documentation>Référence au niveau de classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ClassificationOwner" type="NonEmptyTokenType">
                <xsd:annotation>
                    <xsd:documentation>Propriétaire de la classification. Service émetteur au sens de l’IGI 1300.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ClassificationReassessingDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date de réévaluation de la classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NeedReassessingAuthorization" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indique si une autorisation humaine est nécessaire pour réévaluer la classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="FinalActionStorageCodeType">
        <xsd:annotation>
            <xsd:documentation>Code correspondant à l’action à entreprendre au terme de la durée d’utilité courante.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NonEmptyTokenType">
            <xsd:enumeration value="RestrictAccess"/>
            <xsd:enumeration value="Transfer"/>
            <xsd:enumeration value="Copy"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="StorageRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la durée d'utilité courante.</xsd:documentation>
            <xsd:documentation>Chaque règle a une startDate et un Identifiant de règle de référence pour la durée.
                Si aucune règle n'est spécifiée et que la date actuelle est dans la StarDate, la réponse de restriction est "Aucune restriction".
                Si la date est vide, la réponse de restriction est "Restreint" car il n'y a aucun moyen de calculer la date de fin.
                Si une règle et une date sont précisées, alors la règle est valable (restriction appliquée).</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Rule" type="RuleIdType">
                    <xsd:annotation>
                        <xsd:documentation>Référence à la règle de durée d'utilité courante.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Date de départ de calcul de la règle d'utilité courante.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>L'identifiant de la règle spécifiée pourra être retirée de l'héritage dans ce noeud.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="FinalAction" type="FinalActionStorageCodeType">
                <xsd:annotation>
                    <xsd:documentation>Action à mettre en œuvre au terme de la durée de gestion.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="FinalActionAppraisalCodeType">
        <xsd:annotation>
            <xsd:documentation>Code correspondant à l’action à entreprendre au terme de la durée d’utilité administrative.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NonEmptyTokenType">
            <xsd:enumeration value="Keep"/>
            <xsd:enumeration value="Destroy"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AppraisalRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la durée d'utilité administrative.</xsd:documentation>
            <xsd:documentation>Chaque règle a une startDate et un Identifiant de règle de référence pour la durée.
                Si aucune règle n'est spécifiée et que la date actuelle est dans la StarDate, la réponse de restriction est "Aucune restriction".
                Si la date est vide, la réponse de restriction est "Restreint" car il n'y a aucun moyen de calculer la date de fin.
                Si une règle et une date sont précisées, alors la règle est valable (restriction appliquée).</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Rule" type="RuleIdType">
                    <xsd:annotation>
                        <xsd:documentation>Référence à la règle de durée d'utilité administrative.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Date de départ de calcul de durée d'utilité administrative.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>L'identifiant de la règle spécifiée pourra être retirée de l'héritage dans ce noeud.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="FinalAction" type="FinalActionAppraisalCodeType">
                <xsd:annotation>
                    <xsd:documentation>Action à mettre en œuvre au terme de la durée de gestion.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Extension VITAM pour la gestion des rattachement d'AUs via le Manifest -->
    <xsd:complexType name="UpdateOperationType">
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Exemple d'extension de OtherManagementAbstract
                    pour la gestion des opérations sur un ArchiveUnit.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:choice >
                <xsd:element name="SystemId" type="NonEmptyTokenType">
                    <xsd:annotation>
                        <xsd:documentation>Identifiant attribué à l'ArchiveUnit. Il est
                            attribué par le SAE et correspond à un identifiant interne.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ArchiveUnitIdentifierKey" type="ArchiveUnitIdentifierKeyType">
                    <xsd:annotation>
                        <xsd:documentation>Identifiant attribué à l'ArchiveUnit. Il est attribué par le SAE
                            et correspond à un nom et une valeur d'une métadonnée qui identifié
                            d'une manière unique une ArchiveUnit existante.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="ToDelete" type="ToDeleteType" minOccurs="0" />
            <xsd:element name="FullUpdate" type="xsd:boolean" minOccurs="0"  default="false">
                <xsd:annotation>
                    <xsd:documentation>Permet de distinguer une mise à jour complète
                        d'une mise à jour partielle
                    </xsd:documentation>
                    <xsd:documentation>Pour une mise à jour partielle (FullUpdate =
                        false) seules les balises indiquées dans la partie Content +
                        Management seront mises à jour.
                    </xsd:documentation>
                    <xsd:documentation>Pour une mise à jour complète (FullUpdate =
                        true) la mise à jour appliquée est la suivante : annule et
                        remplace.
                    </xsd:documentation>
                    <xsd:documentation>Point d'attention : dans le cas d'une Règle de
                        gestion dans Management, le retrait d'une date de début (et donc
                        de la date de fin) se fait en positionnant une valeur vide à
                        StartDate.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Extension VITAM pour la gestion des règles de gel des ArchiveUnits -->
    <xsd:complexType name="HoldRuleType">
        <xsd:annotation>
            <xsd:documentation>Gestion de la durée de gel des ArchiveUnits.</xsd:documentation>
            <xsd:documentation>Chaque règle possède un Identifiant de règle de gel de référence, ainsi qu'un ensemble
                d'attributs optionnels.</xsd:documentation>
            <xsd:documentation>La date de fin de gel est calculée à partir d'une date de début de restriction
                (StardDate) et de la durée de validité de la règle de réference. Elle peut également être explicitement
                spécifiée (HoldEndDate) si la règle de référence ne spécifie pas de durée déterminée.</xsd:documentation>
            <xsd:documentation>Si la règle ne possède pas de durée de fin (calculée ou explicite), alors la règle est
                réputée à durée indéterminée (restriction toujours effective)</xsd:documentation>
            <xsd:documentation>La liste d'identifiants de règles à appliquer et à ignorer qui doit être appliquée à partir de cet ArchiveUnit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="HoldRuleDefGroup" minOccurs="0" maxOccurs="unbounded" />
            <xsd:choice minOccurs="0">
                <xsd:group ref="PreventInheritanceGroup"/>
                <xsd:element name="RefNonRuleId" type="RuleIdType" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>L'identifiant de la règle spécifiée pourra être retirée de l'héritage dans ce noeud.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="HoldRuleDefGroup">
        <xsd:sequence>
            <xsd:element name="Rule" type="RuleIdType">
                <xsd:annotation>
                    <xsd:documentation>Référence à la règle de gel.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date de début de gel.</xsd:documentation>
                    <xsd:documentation>Si la date de début de gel est renseignée, et que la règle de référence
                        spécifie une durée de validité non nulle, alors la date de fin de gel est automatiquement
                        calculée par Vitam.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HoldEndDate" type="xsd:date" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date de fin de gel explicite.</xsd:documentation>
                    <xsd:documentation>Dans le cas où la règle de référence ne spécifie pas de durée de validité, la
                        règle peut alors spécifier une date de fin de gel explicite (HoldEndDate).</xsd:documentation>
                    <xsd:documentation>Dans le cas où la règle de référence spécifie une durée de validité, la date
                        de fin de gel est calculée par Vitam et ne peut être explicitement spécifiée (HoldEndDate prohibé).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HoldOwner" type="NonEmptyTokenType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Propriétaire de la demande de gel.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HoldReassessingDate" type="xsd:date" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date de réévaluation du gel</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HoldReason" type="NonEmptyTokenType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Motif de gel.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PreventRearrangement" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Blocage de la reclassification de l'ArchiveUnit lorsque la restriction de gel est effective</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="ArchiveUnitIdentifierKeyType">
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Identifier une archiveUnit existante avec le nom et la valeur d'une métadonnée.
                    Permet le rattachement d'une ArchiveUnit vers une ArchiveUnit existante
                    identifiée par  le nom et la valeur d'une métadonnée
                </xsd:documentation>
            </xsd:annotation>
            <xsd:element name="MetadataName" type="NonEmptyTokenType">
                <xsd:annotation>
                    <xsd:documentation>Nom d'une métadonnée d'une ArchiveUnit. Il est
                        attribué par le SAE et correspond à un identifiant interne.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MetadataValue" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Valeur d'une métadonnée d'une ArchiveUnit. Il est
                        attribué par le SAE et correspond à la valeur de la MetadataName dans une ArchiveUnit.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ToDeleteType">
        <xsd:sequence  maxOccurs="unbounded">
            <xsd:annotation>
                <xsd:documentation>Permet la suppression de liens entre un
                    ArchiveUnit père et une liste définie de ses fils.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ArchiveUnitRefId" type="ArchiveUnitRefIdType">
                <xsd:annotation>
                    <xsd:documentation>Permet de faire une référence à d'autres
                        ArchiveUnit dans la même transaction.
                    </xsd:documentation>
                    <xsd:documentation>La balise permet de supprimer le lien entre
                        l'ArchiveUnit fils référencé et l'ArchiveUnit courant (père).
                    </xsd:documentation>
                    <xsd:documentation>Le type de cette balise est le même que celui
                        utilisé pour référencer un fils dans ArchiveUnit/ArchiveUnitRefId.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
